<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bdl.airecovery">

    <!-- xutils3 需要的存储和联网权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 连接WiFi部分所需权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />



    <uses-feature android:name="android.hardware.usb.host"></uses-feature>

    <!-- 蓝牙权限 -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LauncherActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.LocationActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ByeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.SystemSettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.StandardModeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.PersonalSettingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.SelfUpdatingActivity"

            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.LoginActivity"

            android:screenOrientation="landscape" >

        </activity>


        <activity
            android:name=".activity.WifiListActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Android123" />

        <activity
            android:name=".activity.PassiveModeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ScramActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ActivePassiveModeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.StrengthTestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.CalibrationActivity"
            android:screenOrientation="landscape" />

        <!-- service -->
        <service android:name=".service.ReSendService" />
        <service android:name=".service.StaticMotorService" />
        <service
            android:name=".service.CardReaderService"
            android:exported="false" />
        <service android:name=".service.MotorService" />
        <service android:name=".service.BluetoothService" />
        <service android:name=".service.UsbService">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter"/>
        </service>
        <activity android:name=".activity.AdvancedSettingActivity"></activity>
    </application>

</manifest>