<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bdl.airecovery">

    <!-- xutils3 需要的存储和联网权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 连接WiFi部分所需权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--蓝牙权限-->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name="com.bdl.airecovery.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.bdl.airecovery.activity.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.bdl.airecovery.LauncherActivity"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name="com.bdl.airecovery.activity.LoginActivity"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name="com.bdl.airecovery.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name="com.bdl.airecovery.activity.ByeActivity"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name="com.bdl.airecovery.activity.LocationActivity"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name="com.bdl.airecovery.activity.SystemSettingActivity"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name="com.bdl.airecovery.activity.AdaptModeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name="com.bdl.airecovery.activity.BikeModeActivity"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name="com.bdl.airecovery.activity.EqualSpeedModeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name="com.bdl.airecovery.activity.HeartRateModeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name="com.bdl.airecovery.activity.MuscleModeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name="com.bdl.airecovery.activity.StandardModeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name="com.bdl.airecovery.activity.PersonalSettingActivity"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name="com.bdl.airecovery.activity.SelfUpdatingActivity"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name="com.bdl.airecovery.activity.WifiListActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Android123"></activity>

        <activity
            android:name="com.bdl.airecovery.activity.PassiveModeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name="com.bdl.airecovery.activity.ScramActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name="com.bdl.airecovery.activity.ActivePassiveModeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name="com.bdl.airecovery.activity.StrengthTestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"></activity>

        <!--service-->
        <service android:name="com.bdl.airecovery.service.ReSendService"></service>
        <service android:name="com.bdl.airecovery.service.StaticMotorService"></service>
        <service
            android:name="com.bdl.airecovery.service.CardReaderService"
            android:exported="false"></service>
        <service android:name="com.bdl.airecovery.service.MotorService"></service>
        <service android:name="com.bdl.airecovery.service.BluetoothService" />
    </application>

</manifest>